{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/single_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/single_responsive.css' %}">

    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single
                            Product</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="single_product_pics">
                    <div class="row">
                        <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                            <div class="single_product_thumbnails">
                                <ul>
                                    {% for image in product.producthasimage_set.all %}
                                        <li {% if forloop.first %} class="active" {% endif %}><img
                                                {% thumbnail image.image "136x136" crop="center" as im %}
                                                    src="{{ im.url }}" {% endthumbnail %} alt=""
                                                {% thumbnail image.image "454x527" crop="center" as im %}
                                                    data-image="{{ im.url }}" {% endthumbnail %}>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 image_col order-lg-2 order-1">
                            <div class="single_product_image">
                                {% thumbnail product.image.image "454x527" crop="center" as im %}
                                    <div class="single_product_image_background"
                                         style="background-image:url({{ im.url }})"></div>
                                {% endthumbnail %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.short_intro }}</p>
                    </div>
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                        <span class="ti-truck"></span><span>free delivery</span>
                    </div>
                    <div class="original_price">${{ product.price }}</div>
                    <div class="product_price">${{ product.discount_price }}</div>
                    <ul class="star_rating">
                        {% for star in product.loop_for_star %}
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        {% endfor %}
                    </ul>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Tabs -->

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                            <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
                            <li class="tab" data-active-tab="tab_3">
                                <span>Reviews ({{ product.producthasreview_set.count }})</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            <div class="col-lg-5 desc_col">
                                <div class="tab_title">
                                    <h4>Description</h4>
                                </div>
                                <div class="tab_text_block">
                                    <h2>{{ product.title }}</h2>
                                    <p>{{ product.short_intro }}</p>
                                </div>
                                <div class="tab_image">
                                    {% thumbnail product.image.image "445x626" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>

                            </div>
                            <div class="col-lg-5 offset-lg-2 desc_col">
                                <div class="tab_text_block">
                                    <h2>Extra Info</h2>
                                    {{ product.description | safe }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Additional Info -->

                    <div id="tab_2" class="tab_container">
                        <div class="row">
                            <div class="col additional_info_col">
                                <div class="tab_title additional_info_title">
                                    <h4>Additional Information</h4>
                                </div>
                                {{ product.additional_information | safe }}
                            </div>
                        </div>
                    </div>

                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">
                                <div class="tab_title reviews_title">
                                    <h4>Reviews ({{ product.producthasreview_set.count }})</h4>
                                </div>

                                {% for review in product.producthasreview_set.all %}
                                    <!-- User Review -->

                                    <div class="user_review_container d-flex flex-column flex-sm-row">
                                        <div class="user">
                                            <div class="user_pic"></div>
                                            <div class="user_rating">
                                                <ul class="star_rating">
                                                    {% for star in review.loop_for_star %}
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <div class="review_date">{{ review.pub_date }}</div>
                                            <div class="user_name">{{ review.user.username }}</div>
                                            <p>{{ review.comment }}</p>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">

                                {% if request.user.is_authenticated %}
                                    <div class="add_review">
                                        <form id="review_form" method="POST">
                                            {% csrf_token %}
                                            <div>
                                                <h1>Add Review</h1>
                                            </div>
                                            <div>
                                                <h1>Your Rating:</h1>
                                                <input class="form-control" name="rating" type="number" max="5" min="0"
                                                       required>

                                                <textarea id="review_message" class="input_review" name="comment"
                                                          placeholder="Your Review" rows="4" required
                                                          data-error="Please, leave us a review."></textarea>
                                            </div>
                                            <div class="text-left text-sm-right">
                                                <button id="review_submit" type="submit"
                                                        class="red_button review_submit_btn trans_300" value="Submit">
                                                    submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% else %}
                                    Please login
                                {% endif %}

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/single_custom.js' %}"></script>
{% endblock %}