{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div style="margin-top: 150px">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {{ form | bootstrap_horizontal }}
                    <input class="btn btn-default" type="submit" value="Sign Up">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
{% endblock %}